@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.min {
  min-width: auto !important;
}

.menu-item {
  transition: all 0.4s ease;
}

.menu-item::after {
  content: '';
  width: 40%;
  opacity: 0;
  height: 3px;
  display: block;
  border-radius: 10px;
  background-color: var(--color-primary);
  transition: ease-in-out 0.2s;
  margin: auto;
}

.menu-item:hover::after {
  width: 100%;
  opacity: 1;
}

.home {
  height: calc(100vh - 6rem);
}
